<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Compositor</key>
	<dict>
		<key>deferredUpdates</key>
		<integer>1</integer>
	</dict>
	<key>DisplayResolutionEnabled</key>
	<true/>
	<key>DisplaySets</key>
	<array>
		<array>
			<dict>
				<key>Active</key>
				<integer>1</integer>
				<key>Depth</key>
				<integer>4</integer>
				<key>DisplayID</key>
				<integer>1141178752</integer>
				<key>DisplayProductID</key>
				<integer>5126</integer>
				<key>DisplaySerialNumber</key>
				<integer>0</integer>
				<key>DisplayVendorID</key>
				<integer>19728</integer>
				<key>Height</key>
				<integer>810</integer>
				<key>IODisplayLocation</key>
				<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/IGPU@2/AppleIntelFramebuffer@0</string>
				<key>IOFlags</key>
				<integer>2097154</integer>
				<key>LimitsHeight</key>
				<integer>1620</integer>
				<key>LimitsOriginX</key>
				<integer>0</integer>
				<key>LimitsOriginY</key>
				<integer>0</integer>
				<key>LimitsWidth</key>
				<integer>2880</integer>
				<key>MirrorID</key>
				<integer>0</integer>
				<key>Mirrored</key>
				<integer>0</integer>
				<key>Mode</key>
				<dict>
					<key>BitsPerPixel</key>
					<integer>32</integer>
					<key>BitsPerSample</key>
					<integer>8</integer>
					<key>DepthFormat</key>
					<integer>4</integer>
					<key>Height</key>
					<integer>810</integer>
					<key>IODisplayModeID</key>
					<integer>-2147467262</integer>
					<key>IOFlags</key>
					<integer>2097154</integer>
					<key>Mode</key>
					<integer>20</integer>
					<key>PixelEncoding</key>
					<string>--------RRRRRRRRGGGGGGGGBBBBBBBB</string>
					<key>RefreshRate</key>
					<real>0.0</real>
					<key>SamplesPerPixel</key>
					<integer>3</integer>
					<key>UsableForDesktopGUI</key>
					<false/>
					<key>Width</key>
					<integer>1440</integer>
					<key>kCGDisplayBytesPerRow</key>
					<integer>11776</integer>
					<key>kCGDisplayHorizontalResolution</key>
					<integer>249</integer>
					<key>kCGDisplayModeIsInterlaced</key>
					<false/>
					<key>kCGDisplayModeIsSafeForHardware</key>
					<false/>
					<key>kCGDisplayModeIsStretched</key>
					<false/>
					<key>kCGDisplayModeIsTelevisionOutput</key>
					<false/>
					<key>kCGDisplayModeIsUnavailable</key>
					<false/>
					<key>kCGDisplayModeSuitableForUI</key>
					<true/>
					<key>kCGDisplayPixelsHigh</key>
					<integer>1620</integer>
					<key>kCGDisplayPixelsWide</key>
					<integer>2880</integer>
					<key>kCGDisplayResolution</key>
					<real>2</real>
					<key>kCGDisplayVerticalResolution</key>
					<integer>249</integer>
				</dict>
				<key>OriginX</key>
				<integer>0</integer>
				<key>OriginY</key>
				<integer>0</integer>
				<key>PixelEncoding</key>
				<string>--------RRRRRRRRGGGGGGGGBBBBBBBB</string>
				<key>Resolution</key>
				<real>2</real>
				<key>Unit</key>
				<integer>0</integer>
				<key>UnmirroredHeight</key>
				<integer>810</integer>
				<key>UnmirroredLimitsHeight</key>
				<integer>1620</integer>
				<key>UnmirroredLimitsOriginX</key>
				<integer>0</integer>
				<key>UnmirroredLimitsOriginY</key>
				<integer>0</integer>
				<key>UnmirroredLimitsWidth</key>
				<integer>2880</integer>
				<key>UnmirroredMode</key>
				<dict>
					<key>BitsPerPixel</key>
					<integer>32</integer>
					<key>BitsPerSample</key>
					<integer>8</integer>
					<key>DepthFormat</key>
					<integer>4</integer>
					<key>Height</key>
					<integer>810</integer>
					<key>IODisplayModeID</key>
					<integer>-2147467262</integer>
					<key>IOFlags</key>
					<integer>2097154</integer>
					<key>Mode</key>
					<integer>20</integer>
					<key>PixelEncoding</key>
					<string>--------RRRRRRRRGGGGGGGGBBBBBBBB</string>
					<key>RefreshRate</key>
					<real>0.0</real>
					<key>SamplesPerPixel</key>
					<integer>3</integer>
					<key>UsableForDesktopGUI</key>
					<false/>
					<key>Width</key>
					<integer>1440</integer>
					<key>kCGDisplayBytesPerRow</key>
					<integer>11776</integer>
					<key>kCGDisplayHorizontalResolution</key>
					<integer>249</integer>
					<key>kCGDisplayModeIsInterlaced</key>
					<false/>
					<key>kCGDisplayModeIsSafeForHardware</key>
					<false/>
					<key>kCGDisplayModeIsStretched</key>
					<false/>
					<key>kCGDisplayModeIsTelevisionOutput</key>
					<false/>
					<key>kCGDisplayModeIsUnavailable</key>
					<false/>
					<key>kCGDisplayModeSuitableForUI</key>
					<true/>
					<key>kCGDisplayPixelsHigh</key>
					<integer>1620</integer>
					<key>kCGDisplayPixelsWide</key>
					<integer>2880</integer>
					<key>kCGDisplayResolution</key>
					<real>2</real>
					<key>kCGDisplayVerticalResolution</key>
					<integer>249</integer>
				</dict>
				<key>UnmirroredOriginX</key>
				<integer>0</integer>
				<key>UnmirroredOriginY</key>
				<integer>0</integer>
				<key>UnmirroredResolution</key>
				<real>2</real>
				<key>UnmirroredWidth</key>
				<integer>1440</integer>
				<key>Width</key>
				<integer>1440</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>Active</key>
				<integer>1</integer>
				<key>Depth</key>
				<integer>4</integer>
				<key>DisplayID</key>
				<integer>1141178752</integer>
				<key>DisplayProductID</key>
				<integer>5126</integer>
				<key>DisplaySerialNumber</key>
				<integer>0</integer>
				<key>DisplayVendorID</key>
				<integer>19728</integer>
				<key>Height</key>
				<integer>810</integer>
				<key>IODisplayLocation</key>
				<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/IGPU@2/AppleIntelFramebuffer@0</string>
				<key>IOFlags</key>
				<integer>2097155</integer>
				<key>LimitsHeight</key>
				<integer>810</integer>
				<key>LimitsOriginX</key>
				<integer>0</integer>
				<key>LimitsOriginY</key>
				<integer>0</integer>
				<key>LimitsWidth</key>
				<integer>1440</integer>
				<key>MirrorID</key>
				<integer>0</integer>
				<key>Mirrored</key>
				<integer>0</integer>
				<key>Mode</key>
				<dict>
					<key>BitsPerPixel</key>
					<integer>32</integer>
					<key>BitsPerSample</key>
					<integer>8</integer>
					<key>DepthFormat</key>
					<integer>4</integer>
					<key>Height</key>
					<integer>810</integer>
					<key>IODisplayModeID</key>
					<integer>-2147467262</integer>
					<key>IOFlags</key>
					<integer>2097155</integer>
					<key>Mode</key>
					<integer>2</integer>
					<key>PixelEncoding</key>
					<string>--------RRRRRRRRGGGGGGGGBBBBBBBB</string>
					<key>RefreshRate</key>
					<real>0.0</real>
					<key>SamplesPerPixel</key>
					<integer>3</integer>
					<key>UsableForDesktopGUI</key>
					<true/>
					<key>Width</key>
					<integer>1440</integer>
					<key>kCGDisplayBytesPerRow</key>
					<integer>6144</integer>
					<key>kCGDisplayHorizontalResolution</key>
					<integer>124</integer>
					<key>kCGDisplayModeIsInterlaced</key>
					<false/>
					<key>kCGDisplayModeIsSafeForHardware</key>
					<true/>
					<key>kCGDisplayModeIsStretched</key>
					<false/>
					<key>kCGDisplayModeIsTelevisionOutput</key>
					<false/>
					<key>kCGDisplayModeIsUnavailable</key>
					<false/>
					<key>kCGDisplayModeSuitableForUI</key>
					<true/>
					<key>kCGDisplayPixelsHigh</key>
					<integer>810</integer>
					<key>kCGDisplayPixelsWide</key>
					<integer>1440</integer>
					<key>kCGDisplayResolution</key>
					<real>1</real>
					<key>kCGDisplayVerticalResolution</key>
					<integer>125</integer>
				</dict>
				<key>OriginX</key>
				<integer>0</integer>
				<key>OriginY</key>
				<integer>0</integer>
				<key>PixelEncoding</key>
				<string>--------RRRRRRRRGGGGGGGGBBBBBBBB</string>
				<key>Resolution</key>
				<real>1</real>
				<key>Unit</key>
				<integer>0</integer>
				<key>UnmirroredHeight</key>
				<integer>810</integer>
				<key>UnmirroredLimitsHeight</key>
				<integer>810</integer>
				<key>UnmirroredLimitsOriginX</key>
				<integer>0</integer>
				<key>UnmirroredLimitsOriginY</key>
				<integer>0</integer>
				<key>UnmirroredLimitsWidth</key>
				<integer>1440</integer>
				<key>UnmirroredMode</key>
				<dict>
					<key>BitsPerPixel</key>
					<integer>32</integer>
					<key>BitsPerSample</key>
					<integer>8</integer>
					<key>DepthFormat</key>
					<integer>4</integer>
					<key>Height</key>
					<integer>810</integer>
					<key>IODisplayModeID</key>
					<integer>-2147467262</integer>
					<key>IOFlags</key>
					<integer>2097155</integer>
					<key>Mode</key>
					<integer>2</integer>
					<key>PixelEncoding</key>
					<string>--------RRRRRRRRGGGGGGGGBBBBBBBB</string>
					<key>RefreshRate</key>
					<real>0.0</real>
					<key>SamplesPerPixel</key>
					<integer>3</integer>
					<key>UsableForDesktopGUI</key>
					<true/>
					<key>Width</key>
					<integer>1440</integer>
					<key>kCGDisplayBytesPerRow</key>
					<integer>6144</integer>
					<key>kCGDisplayHorizontalResolution</key>
					<integer>124</integer>
					<key>kCGDisplayModeIsInterlaced</key>
					<false/>
					<key>kCGDisplayModeIsSafeForHardware</key>
					<true/>
					<key>kCGDisplayModeIsStretched</key>
					<false/>
					<key>kCGDisplayModeIsTelevisionOutput</key>
					<false/>
					<key>kCGDisplayModeIsUnavailable</key>
					<false/>
					<key>kCGDisplayModeSuitableForUI</key>
					<true/>
					<key>kCGDisplayPixelsHigh</key>
					<integer>810</integer>
					<key>kCGDisplayPixelsWide</key>
					<integer>1440</integer>
					<key>kCGDisplayResolution</key>
					<real>1</real>
					<key>kCGDisplayVerticalResolution</key>
					<integer>125</integer>
				</dict>
				<key>UnmirroredOriginX</key>
				<integer>0</integer>
				<key>UnmirroredOriginY</key>
				<integer>0</integer>
				<key>UnmirroredResolution</key>
				<real>1</real>
				<key>UnmirroredWidth</key>
				<integer>1440</integer>
				<key>Width</key>
				<integer>1440</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>Active</key>
				<integer>1</integer>
				<key>Depth</key>
				<integer>4</integer>
				<key>DisplayID</key>
				<integer>1141178752</integer>
				<key>DisplayProductID</key>
				<integer>5126</integer>
				<key>DisplaySerialNumber</key>
				<integer>0</integer>
				<key>DisplayVendorID</key>
				<integer>19728</integer>
				<key>Height</key>
				<integer>936</integer>
				<key>IODisplayLocation</key>
				<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/IGPU@2/AppleIntelFramebuffer@0</string>
				<key>IOFlags</key>
				<integer>6291458</integer>
				<key>LimitsHeight</key>
				<integer>1872</integer>
				<key>LimitsOriginX</key>
				<integer>0</integer>
				<key>LimitsOriginY</key>
				<integer>0</integer>
				<key>LimitsWidth</key>
				<integer>3328</integer>
				<key>MirrorID</key>
				<integer>0</integer>
				<key>Mirrored</key>
				<integer>0</integer>
				<key>Mode</key>
				<dict>
					<key>BitsPerPixel</key>
					<integer>32</integer>
					<key>BitsPerSample</key>
					<integer>8</integer>
					<key>DepthFormat</key>
					<integer>4</integer>
					<key>Height</key>
					<integer>936</integer>
					<key>IODisplayModeID</key>
					<integer>-2147467261</integer>
					<key>IOFlags</key>
					<integer>6291458</integer>
					<key>Mode</key>
					<integer>21</integer>
					<key>PixelEncoding</key>
					<string>--------RRRRRRRRGGGGGGGGBBBBBBBB</string>
					<key>RefreshRate</key>
					<real>0.0</real>
					<key>SamplesPerPixel</key>
					<integer>3</integer>
					<key>UsableForDesktopGUI</key>
					<false/>
					<key>Width</key>
					<integer>1664</integer>
					<key>kCGDisplayBytesPerRow</key>
					<integer>13312</integer>
					<key>kCGDisplayHorizontalResolution</key>
					<integer>288</integer>
					<key>kCGDisplayModeIsInterlaced</key>
					<false/>
					<key>kCGDisplayModeIsSafeForHardware</key>
					<false/>
					<key>kCGDisplayModeIsStretched</key>
					<false/>
					<key>kCGDisplayModeIsTelevisionOutput</key>
					<false/>
					<key>kCGDisplayModeIsUnavailable</key>
					<false/>
					<key>kCGDisplayModeSuitableForUI</key>
					<true/>
					<key>kCGDisplayPixelsHigh</key>
					<integer>1872</integer>
					<key>kCGDisplayPixelsWide</key>
					<integer>3328</integer>
					<key>kCGDisplayResolution</key>
					<real>2</real>
					<key>kCGDisplayVerticalResolution</key>
					<integer>288</integer>
				</dict>
				<key>OriginX</key>
				<integer>0</integer>
				<key>OriginY</key>
				<integer>0</integer>
				<key>PixelEncoding</key>
				<string>--------RRRRRRRRGGGGGGGGBBBBBBBB</string>
				<key>Resolution</key>
				<real>2</real>
				<key>Unit</key>
				<integer>0</integer>
				<key>UnmirroredHeight</key>
				<integer>936</integer>
				<key>UnmirroredLimitsHeight</key>
				<integer>1872</integer>
				<key>UnmirroredLimitsOriginX</key>
				<integer>0</integer>
				<key>UnmirroredLimitsOriginY</key>
				<integer>0</integer>
				<key>UnmirroredLimitsWidth</key>
				<integer>3328</integer>
				<key>UnmirroredMode</key>
				<dict>
					<key>BitsPerPixel</key>
					<integer>32</integer>
					<key>BitsPerSample</key>
					<integer>8</integer>
					<key>DepthFormat</key>
					<integer>4</integer>
					<key>Height</key>
					<integer>936</integer>
					<key>IODisplayModeID</key>
					<integer>-2147467261</integer>
					<key>IOFlags</key>
					<integer>6291458</integer>
					<key>Mode</key>
					<integer>21</integer>
					<key>PixelEncoding</key>
					<string>--------RRRRRRRRGGGGGGGGBBBBBBBB</string>
					<key>RefreshRate</key>
					<real>0.0</real>
					<key>SamplesPerPixel</key>
					<integer>3</integer>
					<key>UsableForDesktopGUI</key>
					<false/>
					<key>Width</key>
					<integer>1664</integer>
					<key>kCGDisplayBytesPerRow</key>
					<integer>10240</integer>
					<key>kCGDisplayHorizontalResolution</key>
					<integer>288</integer>
					<key>kCGDisplayModeIsInterlaced</key>
					<false/>
					<key>kCGDisplayModeIsSafeForHardware</key>
					<false/>
					<key>kCGDisplayModeIsStretched</key>
					<false/>
					<key>kCGDisplayModeIsTelevisionOutput</key>
					<false/>
					<key>kCGDisplayModeIsUnavailable</key>
					<false/>
					<key>kCGDisplayModeSuitableForUI</key>
					<true/>
					<key>kCGDisplayPixelsHigh</key>
					<integer>1872</integer>
					<key>kCGDisplayPixelsWide</key>
					<integer>3328</integer>
					<key>kCGDisplayResolution</key>
					<real>2</real>
					<key>kCGDisplayVerticalResolution</key>
					<integer>288</integer>
				</dict>
				<key>UnmirroredOriginX</key>
				<integer>0</integer>
				<key>UnmirroredOriginY</key>
				<integer>0</integer>
				<key>UnmirroredResolution</key>
				<real>2</real>
				<key>UnmirroredWidth</key>
				<integer>1664</integer>
				<key>Width</key>
				<integer>1664</integer>
			</dict>
		</array>
	</array>
	<key>ForceOldStyleMemoryManagement</key>
	<false/>
	<key>GLCompositor</key>
	<dict>
		<key>tileHeight</key>
		<integer>-1</integer>
		<key>tileWidth</key>
		<integer>-1</integer>
	</dict>
</dict>
</plist>
