<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-ALI0-{ali</key>
	<data>
	BwAGAA==
	</data>
	<key>fakesmc-key-ALI1-{ali</key>
	<data>
	AAAAAA==
	</data>
	<key>fakesmc-key-ALRV-ui16</key>
	<data>
	AAE=
	</data>
	<key>fakesmc-key-ALV0-{alv</key>
	<data>
	AQEAJQAOAALs1A==
	</data>
	<key>fakesmc-key-ALV1-{alv</key>
	<data>
	AAEAAAAAAAAAAA==
	</data>
	<key>fakesmc-key-FNum-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-HDSW-ui32</key>
	<data>
	AKEAoQ==
	</data>
	<key>fakesmc-key-LDSP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSDW-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSLD-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSLP-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSSD-si8</key>
	<data>
	Aw==
	</data>
	<key>fakesmc-key-MSSP-si8</key>
	<data>
	BQ==
	</data>
	<key>fakesmc-key-MSSS-{mss</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-NATJ-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-REV-{rev</key>
	<data>
	AhMPAAAF
	</data>
	<key>fakesmc-key-RVBF-{rev</key>
	<data>
	AhMPAAAF
	</data>
	<key>fakesmc-key-RVUF-{rev</key>
	<data>
	AhMPAAAF
	</data>
	<key>fakesmc-key-SLP0-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-SLPS-flag</key>
	<data>
	AQ==
	</data>
</dict>
</plist>
